[豆包流式语音合成模型]
APP_ID=your_app_id
APP_TOKEN=your_app_token
RESOURCE_ID=seed-tts-2.0
APP_YINSE=zh_female_sophie_uranus_bigtts,zh_female_cancan_uranus_bigtts,zh_female_sajiaoxuemei_uranus_bigtts,zh_female_tianmeixiaoyuan_uranus_bigtts,zh_female_tianmeitaozi_uranus_bigtts,zh_female_yingyujiaoxue_uranus_bigtts
